# Ignore Mac system files
.DS_store

# Ignore all PDF files
*.pdf

# Ignore all bib files
*.bib

# Ignore all notebook checkpoint files
notebooks/.ipynb_checkpoints

# Ignore all .data files
*.data

# Ignore large files
data/scierc_data/
data/full_cs_ner_data/
data/label_studio_data/
