# Ignore Mac system files
.DS_store

# Ignore all PDF files
*.pdf

# Ignore all bib files
*.bib

# Ignore all notebook checkpoint files
*.ipynb

# Ignore all .data files
*.data

# Ignore large files
paperswithcode_corpus/test.json
